<% include ('../layouts/header.ejs')%>

<h1>User Registration form </h1>

<form action="" method="post" enctype="multipart/form-data">

    <input type="text" name="name" id="" placeholder="Enter  Name" required>
    <br><br>
    <input type="email" name="email" id="" placeholder="Enter  Email" required>
    <br><br>
    <input type="number" name="mobile" id="" placeholder="Enter  Mobile" required>
    <br><br>
    <input type="file" name="image" id="" required>
    <br><br>
    <input type="password" name="password" id="" placeholder="Enter  Password" required>
    <br><br>
    
    <input type="submit" value="Register">
    <br><br>

</form>

 <% 
    if(typeof message !== 'undefined'){
        %> 
        <p style="color:green"> <%= message %></p>
        <%
    }
%>

<% include ('../layouts/footer.ejs')%>

