
<% include("../layouts/header.ejs") %> 

<h1>Resend Verification Link </h1>

<% 
    if(typeof message !== 'undefined'){
        %> 
        <h4><%= message %></h4>
        <%
    }
%> 

<form action="/verification" method="post">

<input type="email" name="email" placeholder="Enter Your Email" required>
<br><br>
<input type="submit" value="Send Verification Link">

</form>


<% include("../layouts/footer.ejs") %> 